// Navigation
#navbar.navbar-top {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;

  &.navbar-shrink {
    background-color: #fff;

    .container .drop-down {
      color: #000;
      padding: 1.5rem 1.5rem 1.25rem;

      &.nav-link {
        border-bottom: 0.25rem solid transparent;

        &:hover.nav-link {
          color: $main-color;
        }

        &:active {
          color: darken($main-color, 15%);
        }
      }

      &.active {
        color: $main-color;
        outline: none;
        border-bottom: 0.25rem solid $main-color;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    .drop-down {
      color: $text-color;
      padding: 2rem 1.5rem;
      width: 100%;
      height: 100%;
      display: block;
      padding: 2rem 1.5rem;

      &:hover.nav-link {
        color: rgba(255, 255, 255, 0.75);
      }
    }

    .navbar-logo a {
      font-size: 1rem;
      font-weight: bold;
    }

    .navbar-links ul {
      display: flex;
    }
  }
}

// Master Heading
header {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000000 100%
    ),
    url("/src/img/bg-masthead.jpg") no-repeat center center/cover;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .master-heading {
      text-align: center;

      h1 {
        background: linear-gradient(
          rgba(255, 255, 255, 0.9),
          rgba(255, 255, 255, 0)
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        line-height: 6.5rem;
      }

      p {
        color: $text-color;
        font-size: 1.25rem;
        max-width: 30rem;
        margin: 0.5rem auto 3rem auto;
      }

      a {
        @include main-buttons;
      }
    }
  }
}
